**/node_modules
**/.env
**/.env.*
!**/.env.example
**/dist
**/build
server/uploads
server/prisma/dev.db*
server/prisma/*.db
server/prisma/*.db-journal
**/.git
**/.github
**/coverage
**/*.log
**/.DS_Store
**/.vscode
dashboard/node_modules
dashboard/build
server/node_modules
**/*.test.js

